@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    --font-sans: nunito-sans, system-ui, -apple-system, BlinkMacSystemFont;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 150, 50%, 80%;
    --primary-foreground: 145, 38%, 22%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 55%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --skeleton: 210 16% 92%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
    @apply font-sans;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='800' height='600' preserveAspectRatio='none' viewBox='0 0 800 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask4567%26quot%3b)' fill='none'%3e%3crect width='800' height='600' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient4568%26quot%3b)'%3e%3c/rect%3e%3cpath d='M26 600L626 0L1349 0L749 600z' fill='url(%26quot%3b%23SvgjsLinearGradient4569%26quot%3b)'%3e%3c/path%3e%3cpath d='M712 600L112 0L-53 0L547 600z' fill='url(%26quot%3b%23SvgjsLinearGradient4570%26quot%3b)'%3e%3c/path%3e%3cpath d='M368.73466742672105 600L800 168.73466742672105L800 600z' fill='url(%26quot%3b%23SvgjsLinearGradient4569%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 600L431.26533257327895 600L 0 168.73466742672105z' fill='url(%26quot%3b%23SvgjsLinearGradient4570%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask4567'%3e%3crect width='800' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='100%25' r='721.11' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient4568'%3e%3cstop stop-color='rgba(222%2c 236%2c 136%2c 0.7)' offset='0.23'%3e%3c/stop%3e%3cstop stop-color='rgba(222%2c 236%2c 136%2c 0.42)' offset='0.65'%3e%3c/stop%3e%3cstop stop-color='rgba(203%2c 248%2c 181%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient4569'%3e%3cstop stop-color='rgba(22%2c 76%2c 0%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(22%2c 76%2c 0%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient4570'%3e%3cstop stop-color='rgba(22%2c 76%2c 0%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(22%2c 76%2c 0%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}